{% extends 'albums/base.html' %}

{% block content %}
<h1>Album Details</h1>
    <article class="post" class="actions" >
        <h2>{{ album.title }}</h2>
        <p>{{ album.artist|linebreaksbr }}</p>
        <a class="btn btn-default" href="{% url 'album_edit' pk=album.pk %}">
            {% include './icons/pencil-fill.svg' %}
        </a>
        <a class="btn btn-default" href="{% url 'album_delete' pk=album.pk %}" method="POST">
            {% include './icons/trash.svg' %}
        </a>
    </article>
{% endblock %}